* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Inter UI;
    color: #333;
  }
.basic {
  max-width: 1440px;
  margin: 0 auto;
  
}
.section { 
  
display: flex;
flex-wrap: wrap;
white-space: normal; 
justify-content: center;
align-items: center;
padding-left: 30px;
margin: 0;

}


.spin-container {
  display: flex;
  margin: auto;
}


.scene-cover {
    max-width: 183px;
    max-height: 281px;
    
  }

  .scene-imageError {
    width: 183px;
    height: 281px;
    background-color: #F4F8FF;
    background-image: url("../../../public/img/picture-svgrepo-com.svg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    flex-shrink: 0;
  }


.no-internet {
  display: flex;
  
  width: 100%;



}

span {
  display: block; 
  
  text-align: center; 
  margin: auto;     
}


.no-results {
  text-align: center;
}
.tabs {
  text-align: center;
}
.ant-btn {
border: none; 
border-radius: 0;
background-color: transparent;
border-bottom: 1px solid #E8E8E8;
transition: border-bottom-color 0.3s;
margin-bottom: 20px;
}